<%= provide(:title, 'Home') %>
<!-- <% %>只执行代码 <%= %>执行代码并把代码结果插入到页面中 -->
 <div class="center jumbotron">
      <h1>Meetup App</h1>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>
